
</div>
 <div class="footer-padding">
  <div class="footer">
    <div class="foot" style="font-family: 'Itim', cursive;" >
      <h5>Thanks For Visiting Our Site</h5>
    </div>
    <p>Copyright@ Ashu-Goyal 2020</p> 
  </div>
</div> 

</body>
</html>
