<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/quePage.css">
    <title>Document</title>
</head>
<body>
    <div class="X1">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/">X10Test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="timer1" style="background-color: brown; margin-left: 400px; height:2.3rem; padding: 7px;">
                Remaining Time : <span id="timer"></span>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Skills
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="dbms">Database Management System</a>
                            <a class="dropdown-item" href="os">Operating System</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="algo">Algorithm</a>
                            <a class="dropdown-item" href="ds">Data Structure</a>
                            <a class="dropdown-item" href="cn">Computer Networks</a>
                            <a class="dropdown-item" href="misc">Misc.</a>
                          </div>
                      </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link nav-last" href="#">SignUp</a>
                    </li>
                </ul>
            </div> 
        </nav>
        <br><br><br>
        <!-- <h3>This is header</h3> -->
        
        