<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">X10Test</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Skills
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="dbms"
                >Database Management System</a
              >
              <a class="dropdown-item" href="os">Operating System</a>
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="algo">Algorithm</a>
              <a class="dropdown-item" href="ds">Data Structure</a>
              <a class="dropdown-item" href="cn">Computer Networks</a>
              <a class="dropdown-item" href="misc">Misc.</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-last" href="/register">SignUp</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="container quiz-section text-center">
      <div style="margin-bottom: 50px">
        <h2>Attempt Quiz from these topics :</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-database fa-2x icon-set"></i>
          </div>
          <a href="dbms" class="subject-menu">DBMS</a>
          <p>
            Check your Database Management System Understanding with few
            questions
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-android fa-2x icon-set"></i>
          </div>
          <a href="os" class="subject-menu">Operating System</a>
          <p>Check your Operating System Understanding with few questions</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-object-ungroup fa-2x icon-set"></i>
          </div>
          <a href="algo" class="subject-menu">Algorithm</a>
          <p>Check your Algorithms Understanding with few questions</p>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-book fa-2x icon-set"></i>
          </div>
          <a href="ds" class="subject-menu">Data structure</a>
          <p>Check your Data Structure Understanding with few questions</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-tv fa-2x icon-set"></i>
          </div>
          <a href="cn" class="subject-menu">Computer Networks</a>
          <p>Check your Computer Networks Understanding with few questions</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-block m-auto">
          <div class="img-setting d-block m-auto">
            <i class="fa fa-universal-access fa-2x icon-set"></i>
          </div>
          <a href="misc" class="subject-menu">Misc.</a>
          <p>Attempt Miscellaneous question.</p>
        </div>
      </div>
    </section>
    <div class="footer-padding"></div>
    <div class="footer" style="font-family: 'Itim', cursive">
      <div
        style="
          width: 100%;
          height: 50px;
          background-color: #696969;
          padding-top: 10px;
          margin-top: 10px;
        "
      >
        <p style="text-align: center; color: white">
          Copyright@ Ashu-Goyal 2020
        </p>
      </div>
    </div>
  </body>
</html>
