<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/successPage.css" />
  </head>
  <body>
    <div>
      <div class="head que" style="display: inline-block; margin-left: 500px">
        <h5 style="font-family: 'Itim', cursive; font-size: 2rem">
          Suggest a Question
        </h5>
      </div>
      <h5 style="display: inline-block; margin-left: 150px">
        Previous Suggested Questions
      </h5>
      <div class="container mt-2">
        <!-- <h1>Register</h1> -->
        <!-- Makes POST request to /register route -->
        <form action="/xtr19" method="POST">
          <div class="form-group">
            <label for="subject">Subject</label>
            <select class="form-control input-lg" id="subject" name="subject">
              <option value="Operating System">Operating System</option>
              <option value="Database Management System">
                Database Management System
              </option>
              <option value="Data Structure">Data Structure</option>
              <option value="Algorithm">Algorithm</option>
              <option value="Computer Networks">Computer Networks</option>
              <option value="Other">Other</option>
            </select>
            <!-- <input type="text" class="form-control" name="subject" id="subject"> -->
          </div>
          <div class="form-group input-lg">
            <label for="title">Title </label>
            <input type="text" class="form-control" name="title" id="title" />
          </div>
          <div class="form-group input-lg">
            <label for="que">Question</label>
            <textarea
              type="text"
              class="form-control"
              name="question"
              id="que"
              row="10"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-dark" style="margin: auto">
            Submit
          </button>
        </form>
        <!-- <span>
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            
  
          </div>
        </div>
      </div>
    </div>
  </span>
  <span>
    <p>ashu</p>
  </span> -->
      </div>

      <%- include('partials/footerAns') %>
    </div>
  </body>
</html>
